*{
   
    box-sizing:border-box;
    list-style: none;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
                          
                           /* Google FONT */
                            
 /* 
.inter-font {
  font-family: "Inter", sans-serif;
  font-weight: 22;
}                          

.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-weight: 500;
}
*/
                             /*COMMON Style*/
.flexy{
    display:flex;
}


.size{
    max-width: 1440px;        /*<<<<<< SIZE >>>>>>*/
    margin: 0 auto;
}

        /*Black Color*/

.black ,.nav-link, .bold{
    color:#252432;
}  

         /*Orange Color*/

.orange{
    color:#E95A08;
    
}

        /*Grey Color*/
.grey{
    color:rgba(0, 0, 0, 0.5);
    font-size:22px;
    font-family: "Inter", sans-serif;
}        


/*Font-Style*/


.banner-title{
font-family: "Noto Serif", serif;
font-size: 65px;
}

.menu-bar{
    gap:40px;
    font-family: "Inter", sans-serif;
    font-size: 15px;
}

 
.bold{
 font-weight:600;
}
   


                            /*Nav Bar Logo*/

.nav-bar{
    justify-content: space-between;
    align-items: center;
}

.logo{

width: 120px;
height: 100px;
}

                            

                             /*Random Styles*/
.cart{
    gap:4px;
}
        
.cart-icon{
    width:13px;
    height: 13px;
    
}
 
                      /*Banner Design*/

.banner-container{
    justify-content: space-between;
     
    align-items: center;
    margin-top: 100px;
}




                     /*IMAGES Style*/

  .flower-one{
    width:570px;
    height:355px;

  }         


                  /*Responsive Design*/

.hide{
    display:block;
}



  /*small device*/
  
  @media screen and (max-width: 576px) {

 
.hide {
    display: none;
}

.banner-container {
    flex-direction: column;
    align-items:flex-start;
}

.banner-content {
    text-align:left;
    width:100%;
    
}
.flower-one {
    order:-1;
    width: 100%;
     
    height:auto;
}

  }